@charset "UTF-8";
body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
	font-size: 1em;
	
	background-image: url("6background.gif");
	background-repeat: no-repeat;  
	background-size: 850px 850px;
	background-color: #fff;
	background-position: center;
	background-position: 50% 50%;
	background-attachment:fixed;
	
}




.bt{
	display:block;
	list-style:none;
	
	background:Transparent;/*rgba(255,255,255,0);*/
	width:195px;
	height:125px;
	position: absolute;
    left: 60px;
    right: 255px;
	bottom:270px;
	top: 210px;
    
	margin: auto;

	
	
}

	/*padding: 135px 100px 135px 125px;*/
	/*margin-top: 0px;
	padding-top: 135px;
	padding-bottom: 141px;*/
}




/*
h1 {
	font-size: 22px;
}

h2 {
	font-size: 16px;
}


p {
	color: #39F;
	font-size: 12px;
}

#siteheader {
	position: absolute;
	top: 0;
	right: 0;
	padding: 20px;
	width: 220px;
	height: 100%;
	background-color:rgba(0, 0, 0, 0.7);
	color: #FFF;
}
#siteheader h1{
	font-weight: 100;
	width: 160px;
	margin: 80px auto;
	font-size: 2em;
}

#siteheader nav {
	margin: 60px 0px;
}

#siteheader nav ul {
	width: 180px;
	margin: 60px 0px;
	font-size: 18px;
}


#siteheader nav ul li{
	list-style-type: none;
	margin-left: -60px;
}


/*********************************リンクボタンの設定*/
/*.bt a{
	text-decoration:none;
	color:#FFF;
	padding: 5px 300px 5px 50px;
}
/*未訪問のリンク*/
/*.bt a:link{
	color:#FFF;
}
/*訪問済みのリンク*/
/*.bt a:visited{
	color:#FFF;
}*/
/*マウスホバー時*/
./*bt a:hover{
	background-color:#F00;
	color:#0FF;
}*/
/*マウスクリック*/
/*.bt a:active{
	background-color:#FF0;
	color:#FFF;*/*/*/
/*}
********************************リンクボタンの設定
#btbt a{
	text-decoration:none;
	color:#F00;
	padding: 5px 600px 5px 50px;
}
未訪問のリンク
#btbt a:link{
	color:#FFF;
}
訪問済みのリンク
#btbt a:visited{
	color:#FFF;
}
マウスホバー時
#btbt a:hover{
	background-color:#FF0;
	color:#FFF;
}
マウスクリック*/
/*#btbt a:active{
	background-color:#FF0;
	color:#FFF;
}*/


*/